<div class="container">
    <div class="card">
        <div class="panel ">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-default fa fa-arrow-left" ng-click="goBack()" style="margin-left: -25px; margin-top: 20px;"> Go Back</button>
                    </div>
                    <div class="col-md-5">
                        <h2 style="text-align: left">My Bookings</h2>
                    </div>
                    <div class="col-md-2">
                        <input type="date" class="form-control" ng-model="filter.FromDate">
                    </div>
                    <div class="col-md-2">
                        <input type="date" class="form-control" ng-model="filter.ToDate">
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-success fa fa-search" ng-click="getBookings()" style=" margin-top:5px;"></button>
                    </div>
                </div>

            </div>
            <div class="panel-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Restaurant</th>
                            <th>Date</th>
                            <th>Delivery Date</th>
                            <th>Subtotal</th>
                            <th>Total Discount</th>
                            <th>Grand Total</th>
                            <th>Status</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in Bookings">
                            <td>{{obj.Restaurant.Name}}</td>
                            <td>{{obj.Date | date : "dd/MM/yyyy"}}</td>
                            <td>{{obj.DeliveryDate | date : "dd/MM/yyyy"}}</td>
                            <td>{{obj.Subtotal}}</td>
                            <td>{{obj.TotalDiscount}}</td>
                            <td>{{obj.GrandTotal}}</td>
                            <td>{{obj.Status.Name}}</td>
                            <td>
                                <a class="btn btn-success" ng-click="viewDetail(obj)">View Details</a>
                                <a class="btn btn-info" ng-click="goReview(obj)">Add Review</a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send Review</h4>
            </div>
            <div class="modal-body">

                <div class="">

                    <label>Rating</label>
                    <jk-rating-stars max-rating="5" rating="rating.Rating"></jk-rating-stars>

                    <label>Review</label>
                    <textarea class="form-control" rows="2" ng-model="rating.Description">
                        </textarea>


                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="SendReview()">Submit Review</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
