<div class="container">

    <br>
    <div class="card">
        <div class="panel">
            <h2><span>Change Password</span></h2>
            <br>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label>New Password</label>
                        <input type="password" ng-model="UserUpdate.Password" class="form-control">
                        <br>
                        <label>Confirm Password</label>
                        <input type="password" ng-model="UserUpdate.CPassword" class="form-control">
                        <br>
                        <br>
                        <button class="btn btn-success" ng-click="changePassword()"> Update</button>
                    </div>

                </div>





            </div>
        </div>
    </div>


</div>
