<div class="container2">
    <div class="col-md-2">
        <button class="btn btn-default fa fa-arrow-left" ng-click="goBack()" style="margin-left: -15px;"> Go Back</button>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-8" style="border-right: 1px solid lightgrey">
            <div class="row">

                <div class="col-md-2" ng-repeat="c in Categories">

                    <div class="procard" style="cursor: pointer" ng-click="getProducts(c)">
                        <img src="{{basePath}}{{c.Photo}}" style="width: 100%; height: 120px;">
                        <p>{{c.Name}}</p>
                        <p><del>{{c.Price}}</del> {{c.OfferPrice}}</p>

                    </div>


                </div>

            </div>

            <hr />

            <div class="row">

                <div class="col-md-3" ng-repeat="p in Products">

                    <div class="procard" style="border-right: 1px solid lightgrey" ng-click="addToBill(p)">
                        <img src="{{basePath}}{{p.Photo}}" style="width: 100%; height: 150px;">
                        <p>{{p.Name}}</p>
                        <p><del>{{p.Price}}</del> {{p.OfferPrice}}</p>
                    </div>


                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="det in Bill.BookingDetails">
                            <td>{{det.Product.Name}}</td>
                            <td>{{det.Quantity}}</td>
                            <td>{{det.OfferPrice}}</td>
                            <td>{{det.Total}}</td>
                            <td>
                                <button class="btn btn-sm btn-default" ng-click="addQty(det)"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-sm btn-default" ng-click="minusQty(det)"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-sm btn-default" ng-click="deleteItem(det)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <hr>

            <div class="row">
                <div class="col-md-4">
                    <p><b>Sub Total : {{Bill.Subtotal}}</b></p>
                    <!--
                    <label>Discount</label>
                    <input class="form-control" ng-model="Bill.TotalDiscount" type="number" ng-change="applydiscount()">
-->
                </div>
                <div class="col-md-8">
                    <h2><b>Grand Total : {{Bill.GrandTotal}}</b></h2>
                </div>
            </div>

            <hr>

            <div class="text-center">
                <button class="btn btn-success" ng-click="SaveBooking()">Checkout Items</button>
                <!-- <button class="btn btn-success" ng-click="SaveBooking2()">Checkout Items</button> -->
            </div>


        </div>

    </div>

</div>





<div id="addressModal" class="modal fade" role="dialog">
    <div class="modal-dialog w-80" style="max-width: 80%">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Address</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6" ng-repeat="a in CustomerAddress">
                        <div class="card pad-5" ng-click="selectAddress(a)">
                            <p>Address : {{a.Address1}}</p>
                            <p>Location : {{a.Location.Name}}</p>
                            <p>District : {{a.District.Name}}</p>
                            <p>State : {{a.State.Name}}</p>
                            <p>Pin Code : {{a.Pincode}}</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
        </div>

    </div>
</div>


<div id="modalpay" class="modalpay text-center">
    <img class="w-50" src="../images/pay.gif">
</div>
