<div class="container">
    <div class="col-md-2">
        <button class="btn btn-info" ng-click="goBack()" style="margin-left: -140px; margin-top: 0px;"> Go Back</button>
    </div>
    <br>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>States</h2>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <label>State Name</label>
                    <input ng-model="addData.Name" type="text" class="form-control">
                </div>
                <div class="col-md-3">
                    <br>
                    <button class="btn btn-success" ng-click="saveData()"> Save</button>
                </div>
            </div>

            <hr>

            <h3>List Of States</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>State Name</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in States">
                        <td>{{obj.Name}}</td>
                        <td><button class="btn btn-succcess" ng-click="editData(obj)"> Edit</button> <button class="btn btn-danger" ng-click="deleteData(obj)"> Delete</button></td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>


</div>
