<div class="container">
    <div class="col-md-2">
        <button class="btn btn-info" ng-click="goBack()" style="margin-left: -20px; margin-top: 0px;"> Go Back</button>
    </div>
    <br>
    <br>
    <br>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Category</h2>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <label>Category Name</label>
                    <input type="text" ng-model="addData.Name" class="form-control">
                </div>
        
                <div class="col-md-3">
                    <label>Photo</label>
                    <input type="file" id="fileInput" custom-on-change="handleFileSelect">
                </div>
                <div class="col-md-3">
                    <br>
                    <button class="btn btn-success" ng-click="saveData()"> Save</button>
                </div>
            </div>

            <hr>

            <h3>List Of Categories</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Photo</th> 
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in Categories">
                        <td>{{obj.Name}}</td>
                        <td>
                            <img src="{{basePath}}{{obj.Photo}}" style="width: 50px; height: 50px;">
                        </td> 
                        <td>
                            <button class="btn btn-success" ng-click="editData(obj)"> Edit</button>
                            <button class="btn btn-danger" ng-click="deleteData(obj)"> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
