<div class="container">


    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Change Password</h2>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <label>New Password</label>
                    <input type="password" ng-model="UserUpdate.Password" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Confirm Password</label>
                    <input type="password" ng-model="UserUpdate.CPassword" class="form-control">
                </div>
                <div class="col-md-3">
                    <br>
                    <button class="btn btn-success" ng-click="changePassword()"> Update</button>
                </div>
            </div>

            <hr>




        </div>
    </div>


</div>
