<div class="container">


    <div class="card">
        <div class="panel ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-default fa fa-arrow-left" ng-click="goBack()" style="margin-left: -25px; margin-top: 20px;"> Go Back</button>
                    </div>
                    <div class="col-md-10">
                        <h2 style="text-align: left">My Reviews</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Booking</th>
                            <th>Rating</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in Reviews">
                            <td>{{obj.Customer.Name}}</td>
                            <td>{{obj.Booking.Id}}</td>
                            <td>{{obj.Rating}} ⭐</td>
                            <td>{{obj.Description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
