<div class="container">
    <div class="col-md-2">
        <button class="btn btn-info" ng-click="goBack()" style="margin-left: -20px; margin-top: 0px;"> Go Back</button>
    </div>
    <br>
    <br>
    <br>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 style="color: white;">Bookings</h2>
        </div>
        <div class="panel-body">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Date</th>
                        <th>Delivery Date</th>
                        <th>Delivery Time</th>
                        <th>Status</th>
                        <th>Subtotal</th>
                        <th>Total Discount</th>
                        <th>Grand Total</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in Bookings">
                        <td>{{obj.Customer.Name}}</td>
                        <td>{{obj.Date| date : 'dd/MM/yyyy'}}</td>
                        <td>{{obj.DeliveryDate | date : 'dd/MM/yyyy'}}</td>
                        <td>{{obj.DeliveryTime}}</td>
                        <td>

                            {{obj.Status.Name}}

                        </td>
                        <td>{{obj.Subtotal}}</td>
                        <td>{{obj.TotalDiscount}}</td>
                        <td>{{obj.GrandTotal}}</td>

                        <td>
                            <a class="btn btn-success" ng-click="viewDetail(obj)">View Details</a>
                            <!--                            <button class="btn btn-danger" ng-click="deleteData(obj)">Delete</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
